# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.StudentProgramm.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\RyzenPC\Program\Projects\StudentProgramm\.idea\.idea.StudentProgramm\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
